QUACK!
<p>
    <a href="/api/main/news">Новости (news/$ - новости по одной)</a>
</p>
<p>
    <a href="/api/main/newspages">Новости по страницам</a>
</p>
<p>
    <a href="/api/main/successtory">История успеха</a>
</p>
<p>
    <a href="/api/main/aboutus">О нас</a>
</p>
<p>
    <a href="/api/main/contact">Контакты</a>
</p>
<p>
    <a href="/api/main/feedback">Обратная связь</a>
</p>
<p>
    <a href="/api/main/credit">Оформление кредита</a>
</p>
<p>
    <a href="/api/main/creditsinfo">Информация о кредитах</a>
</p>